@use "./variables" as *;

.button {

    width: 100%;
    padding: 15px;

    border: none;
    border-radius: $radius-md;

    background: $primary;

    color: white;

    cursor: pointer;

    font-size: 16px;
    font-weight: 600;

    transition: $transition;

    &:hover {

        background: $primary-hover;

        transform: translateY(-2px);
    }

    &:disabled {

        cursor: not-allowed;
        opacity: .6;
    }
}