/* Colors */
$background: #0F172A;
$surface: #1E293B;
$primary: #7C3AED;
$primary-hover: #6D28D9;

$text-primary: #FFFFFF;
$text-secondary: #94A3B8;

$border: #334155;

$success: #22C55E;
$error: #EF4444;

/* Radius */
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;

/* Shadow */
$shadow: 0 12px 35px rgba(0,0,0,.35);

/* Transition */
$transition: .3s ease;

/* Font */
$font-family: "Poppins", sans-serif;